<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GestionLibreriaPrueba</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>

<body class="relative w-full min-h-[100vh] bg-zinc-800">
    <div class="absolute top-0 -z-10 w-full min-h-[100%] bg-gray-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-10%,rgba(225,190,0,0.3),rgba(255,255,255,0))]">
    </div>
    <header class="flex py-3 px-4 items-center justify-center h-[100px] relative">
        <a class="text-white font-extrabold text-4xl uppercase flex flex-col leading-8" asp-controller="Home"
            asp-action="Index">
            Gestion
            <span class="text-[43px] tracking-[0.6px]">Libros</span>
        </a>
    </header>

    <main role="main" class="flex justify-center">
        <section class="w-full flex flex-col max-w-[1200px] p-6 px-16 gap-10">
            @RenderBody()
        </section>
    </main>


    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
