@{
    ViewData["Title"] = "Home";
}
@model IEnumerable<LibroDto>


<article class="grid grid-cols-2 gap-10">
    <div
        class="bg-yellow-50/10 h-48 rounded-2xl p-5 border border-yellow-400/30 shadow-[0px_4px_20px_1px_rgba(255,200,0,0.1)] hover:shadow-[0px_4px_20px_2px_rgba(255,200,0,0.2)] duration-150">
        <a asp-asp-controller="Home" asp-action="NuevoLibro"
            class="border-2 border-dashed border-amber-500 flex flex-col items-center justify-center w-full h-full rounded-xl">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fbbf24"
                class="w-10 h-10">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25">
                </path>
            </svg>
            <span class="font-semibold text-amber-400 text-lg">Nuevo Libro</span>
        </a>
    </div>
    <div
        class="bg-yellow-50/10 h-48 rounded-2xl p-5 border border-yellow-400/30 shadow-[0px_4px_20px_1px_rgba(255,200,0,0.1)] hover:shadow-[0px_4px_20px_2px_rgba(255,200,0,0.2)] duration-150">
        <a asp-controller="Home" asp-action="NuevoAutor"
            class="border-2 border-dashed border-amber-600 flex flex-col items-center justify-center w-full h-full rounded-xl">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fbbf24"
                class="w-10 h-10">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z">
                </path>
            </svg>
            <span class="font-semibold text-amber-400 text-lg">Nuevo Autor</span>
        </a>
    </div>
</article>
@if (Model is not null){
    <article class="w-full flex flex-col gap-y-4 py-6">
        <h2 class="text-3xl font-bold text-white w-full flex flex-col">
            Libros
        </h2>
        <div class="grid grid-cols-2 gap-7 px-5 md:grid-cols-3 lg:grid-cols-4">
            @foreach (var libro in Model)
            {
                <a asp-route-id="@libro.Id" asp-action="DetalleLibro" asp-controller="Libro"
                    class="w-full aspect-[9/13] bg-gradient-to-bl from-amber-400 to-amber-300 rounded-md p-5 flex flex-col justify-between shadow-[0px_2px_20px_4px_rgba(255,200,0,0.2)]">
                    <div>
                        <p class="font-bold text-2xl">@libro.Titulo</p>
                        <p class="text-base font-semibold">@libro.AutorNombre</p>
                    </div>
                    <p class="self-end">@libro.Genero</p>
                </a>
            }
        </div>
    </article>
}
else
{
    <h2 class="text-white/70 text-2xl ">No hay Libros por el momento</h2>
}