@model IEnumerable<AutorDto>
@{
    ViewData["Title"] = "Nuevo Libro";
}

<h2 class="text-white text-3xl font-bold mb-4">Nuevo Libro</h2>
<form asp-controller="Home" asp-action="NuevoLibro" class="flex flex-col gap-y-5">
    <input
        class="h-12 text-slate-400 font-semibold rounded-2xl px-5 bg-slate-500/10 backdrop-blur-lg placeholder:text-slate-50/20 outline-none"
        type="text" placeholder="Titulo" name="Titulo" id="inputTitulo" />
    <input
        class="h-12 text-slate-400 font-semibold rounded-2xl px-5 bg-slate-500/10 backdrop-blur-lg placeholder:text-slate-50/20 outline-none"
        type="text" placeholder="Genero" name="Genero" id="inputGenero" />
    <input
        class="h-12 text-slate-400 font-semibold rounded-2xl px-5 bg-slate-500/10 backdrop-blur-lg placeholder:text-slate-50/20 outline-none"
        type="text" placeholder="Editorial" name="Editorial" id="inputEditorial" />
    <input
        class="h-12 text-slate-400 font-semibold rounded-2xl px-5 bg-slate-500/10 backdrop-blur-lg placeholder:text-slate-50/20 outline-none"
        type="number" placeholder="Año" name="Anno" id="inputAnno" min="300" max="2024" />
    <select
        class="h-12 border-r-transparent border-r-[12px] text-slate-400 font-semibold rounded-2xl px-5 bg-slate-500/10 backdrop-blur-lg placeholder:text-slate-50/20 outline-none"
        type="text" placeholder="Select Autores" name="AutorId">
        @foreach (var autor in Model)
        {
            <option class="text-black" value="@autor.Id">@autor.Nombre</option>
        }
    </select>
    <textarea name="Descripcion" id="textAreaDescripcion" cols="" rows="5"
        class="resize-none min-h-12 text-slate-400 font-semibold rounded-2xl px-5 py-4 bg-slate-500/10 backdrop-blur-lg placeholder:text-slate-50/20 outline-none"></textarea>

    <!-- Componente boton: Boton Crear libro-->
    <div class=" w-full min-w-80 cursor-pointer rounded-lg bg-gray-800/60 p-1">
        <button id="btnSubmit" disabled class="flex h-full w-full items-center justify-center gap-x-2 rounded-md border-2 border-dashed border-gray-600 px-4 py-3 text-slate-500 duration-200
                   disabled:border-gray-600/20 disabled:text-slate-500/10">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5"
                stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
            </svg>

            <span class="text-base font-semibold">+ Crear Nuevo Libro </span>
        </button>
    </div>
</form>
<script>
    const btnSubmit = document.getElementById("btnSubmit");
    const inputs = [document.getElementById("inputTitulo"), document.getElementById("inputGenero"), document.getElementById("inputAnno"), document.getElementById("inputEditorial"), document.getElementById("textAreaDescripcion")];

    function updateSubmitStatus() {
        btnSubmit.disabled = !inputs.every(input => input.value !== "");
        if (btnSubmit.disabled === false) {
            btnSubmit.classList.add("hover:border-gray-400", "hover:text-slate-300");
        }
    }

    inputs.forEach(input => input.addEventListener('input', updateSubmitStatus));
    updateSubmitStatus();
</script>