@{
    ViewData["Title"] = "Nuevo Autor";
}

<h2 class="text-white text-3xl font-bold mb-3">Nuevo Autor</h2>
<form asp-controller="Home" asp-action="NuevoAutor" class="flex flex-col gap-y-5">
    <input
        class="h-12 text-slate-400 font-semibold rounded-2xl px-5 bg-slate-500/10 backdrop-blur-lg placeholder:text-slate-50/20 outline-none"
        type="text" name="Nombre" placeholder="Nombre del Autor" id="inputNombreAutor" />
    <!-- Boton -->
    <div class="bg-slate-50/10 rounded-xl p-1 duration-150">
        <button id="btnSubmit" disabled class="
                border-dashed border-2 border-gray-400 w-full rounded-lg p-2 font-bold uppercase text-gray-400 text-lg
                disabled:border-gray-600 disabled:text-gray-600
                ">
            Enviar
        </button>
    </div>
</form>
<script>
    const btnSubmit = document.getElementById("btnSubmit");
    const inputNombreAutor = document.getElementById("inputNombreAutor");

    function updateSubmitStatus() {
        const sendEstatus = inputNombreAutor.value === "";
        if (sendEstatus) {
            btnSubmit.setAttribute("disabled", "disabled");
        } else {
            btnSubmit.removeAttribute("disabled");
        }
    }

    inputNombreAutor.addEventListener('input', updateSubmitStatus);
    updateSubmitStatus();
</script>