@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #12141B
}

::-webkit-scrollbar-thumb {
    margin-right: 5px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.6);
}
#ContComentario {
    transition: height 0.5s ease, width 0.5s ease;
}